
{% extends 'base/base.html' %}

{% block title %} Dashboard  {% endblock %}

{% block content %} 
 <!-- base/messaging.html -->

 <div class="container">
    <div class="row my-5">
        {% for the_file in the_files %}

            
            <div class="col-lg-4 col-md-6 my-2">
                <div class="card shadow">                
                    <span class='text-{{ the_file.get_color_code }} display-1 ms-2'><i class="bi {{ the_file.get_icon }}"></i></span>
                    <div class="card-body">
                        <h4 class="card-title">{{ the_file.file_name }} </h4>
                        <p class="card-text"> {{ the_file.file_description }} </p>
                    </div>
                    <div class="card-footer text-muted">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link" href="#"> <i class="bi bi-eye-fill"></i> Preview</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"> <i class="bi bi-cloud-arrow-down-fill"></i> Download
                                    {% if user.is_authenticated and user.is_staff and user.is_superuser %}
                                        <span> 6 </span>
                                    {% endif %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"> <i class="bi bi-share-fill"></i> Share
                                    {% if user.is_authenticated and user.is_staff and user.is_superuser %}
                                        <span> 12 </span>
                                    {% endif %}
                                </a>
                            </li>



                        </ul>
                    </div>
                </div>
            </div>

        {% endfor %}          

    </div>
                
</div>

{% endblock %}