

{% extends 'base/base_bootstrap.html' %}

{% load static %}

{% block title %} Password Reset Request {% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static '/users/style.css' %}">

    <div class="wrapper ab">
    {% include 'base/messaging.html' %}   

        <div class="container main">        
            <div class="row">
                <div class="col-md-6  side-image">
                    <div class="container">
                        <img class="img-fluid theImg" src="{% static '/images/biglizzylogo.PNG' %}" alt="">
                    </div>                
                </div>
                <div class="col-md-6 right">
                    <form method="POST" action=".">
                        {% csrf_token %}
                        <div class="input-box">
                            <header>Reset Password</header>              
                            <div class="input-field">  
                                {{ form.new_password1 }}
                                <label for="new_password1"> <i class="bi bi-shield-lock-fill"></i> Password</label>
                            </div>
                            <div class="input-field"> 
                                {{ form.new_password2 }}
                                <label for="new_password2"> <i class="bi bi-shield-lock-fill"></i> Confirm Password</label>
                            </div>
                            <div class="input-field">
                                <input type="submit" class="submit" value="update password">                            
                            </div>
                            <div class="signin">
                                <span class="okay">
                                    <a href="{% url 'login' %}">Log In here</a>
                                </span>
                            </div>
                        </div>
                    </form>            
                </div>
            </div>
        </div>

    </div>

{% endblock %}
